flask
flask_restful
flask_sqlalchemy
dataclasses
flask_cors
mysql-connector-python
Flask==1.1.2
google-api-python-client
google-auth
prometheus_client==0.7.1
prometheus_flask_exporter
requests
cryptography